@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans+Thai&display=swap');


:root {
    --color-background-purple: linear-gradient(180deg, #604AEA 0%, #290656 32.07%);
    --color-background-purple-2: #452676;
    --color-background-purple-3: #604AEA;
    --color-background-purple-4: #210141;
}

body {
    background: var(--color-background-purple);
    font-family: 'Noto Sans Thai', sans-serif;
    color: white;

}

a {
    color: white;
}

a:hover {
    opacity: 80%;
}

.text_img_center {
    display: flex;
    align-items: center;
}

/* NavbarView */
.input-search {
    position: relative;
    height: 25px;
    border-radius: 20px;
    background: url('https://cdn.discordapp.com/attachments/1087447051387813909/1087447341205831791/image_27.png') no-repeat left;
    border-width: 1px;
    background-color: white;
    font-family: 'Noto Sans Thai', sans-serif;
    background-position: 195px;
    
}
/* MessTextComponent */
.messt {
    display: inline-block;
    border-radius: 20px;
    border: solid white;
}

/* Recommend  */
.color-background-purple-2 {
    background: var(--color-background-purple-2);
}

/* TrendingView */
.editselect {
    width: 250px;
    background: #604AEA;
}

.color-background-purple-3 {
    background: var(--color-background-purple-3);
}

/* Detail Movie */
.color-background-purple-4 {
    background: var(--color-background-purple-4);
}
