@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans+Thai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

:root {
    --color-background-purple: linear-gradient(180deg, #604AEA 0%, #604AEA 0.01%, #290656 31.91%), #210141;
    --color-background-purple-2: #452676;
    --color-background-purple-3: #604AEA;
    --color-background-purple-4: #210141;
}

body {
    background: var(--color-background-purple);
    font-family: 'Noto Sans Thai', sans-serif;
    color: white;
}

a {
    color: white;
}

a:hover {
    opacity: 80%;
}

.text_img_center {
    display: flex;
    align-items: center;
}

/* NavbarView */
.input-search {
    position: relative;
    height: 25px;
    border-radius: 20px;
    background: url('https://cdn.discordapp.com/attachments/1087447051387813909/1087447341205831791/image_27.png') no-repeat left;
    border-width: 1px;
    background-color: white;
    font-family: 'Noto Sans Thai', sans-serif;
    background-position: 195px;
    
}
/* MessTextComponent */
.messt {
    display: inline-block;
    border-radius: 20px;
    border: solid white;
}

/* Recommend  */
.color-background-purple-2 {
    background: var(--color-background-purple-2);
}

/* TrendingView */
.editselect {
    width: 250px;
    background: #604AEA;
}

.color-background-purple-3 {
    background: var(--color-background-purple-3);
}

/* Detail Movie */
.color-background-purple-4 {
    background: var(--color-background-purple-4);
}

/* SigninView SignupView*/
.text-signin {
    background: var(--color-background-purple-2);
    color: white;
    padding: 13px;
    font-size: 1.4rem;
    border-top-left-radius: 1.3rem;
    border-top-right-radius: 1.3rem;
}

.input_username {
    background: url("https://cdn-icons-png.flaticon.com/512/9439/9439980.png") no-repeat left;
    background-size: 24px;
    padding-left: 40px;
    background-position: 12px;
    color: var(--color-background-purple-2);
    border: 2px solid var(--color-background-purple-2);
}

.input_password {
    background: url("https://cdn-icons-png.flaticon.com/512/8875/8875384.png") no-repeat left;
    background-size: 20px;
    padding-left: 40px;
    background-position: 12px;
    color: var(--color-background-purple-2);
    border: 2px solid var(--color-background-purple-2);
}

.input_phone {
    background: url("https://cdn-icons-png.flaticon.com/512/7344/7344095.png") no-repeat left;
    background-size: 23px;
    padding-left: 40px;
    background-position: 12px;
    color: var(--color-background-purple-2);
    border: 2px solid var(--color-background-purple-2);
}

.input_email {
    background: url("https://cdn-icons-png.flaticon.com/512/10037/10037961.png") no-repeat left;
    background-size: 28px;
    padding-left: 45px;
    background-position: 12px;
    color: var(--color-background-purple-2);
    border: 2px solid var(--color-background-purple-2);
}

.line {
    position: relative;
    height: 2px;
    width: 100%;
    background-color: var(--color-background-purple-2);
    opacity: 50%;
}

.line::before {
    content: 'or';
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EEF3F8;
    color: var(--color-background-purple-2);
    padding: 0 8px;
}

.color_sign_white {
    color: var(--color-background-purple-2);
    background-color: white;
    border-radius: 2rem;
    border: 2px solid var(--color-background-purple-2);
    border-color: var(--color-background-purple-2);
}

.color_sign_purple {
    color: white;
    background-color: var(--color-background-purple-2);
    border-radius: 2rem;
}

.card1 {
    border-color: var(--color-background-purple-2);
    border: 2px solid var(--color-background-purple-2);
    border-radius: 1.5rem;
    width: 305px;
    background: white;
}

.card2 {
    border-color: var(--color-background-purple-2);
    border: 2px solid var(--color-background-purple-2);
    border-radius: 1.5rem;
    width: 450px;
    background: white;
}

.proeditbackground{
    background: var(--color-background-purple);
}

.nonebackbutton{
    background-color: transparent;
    border: none;
}

.myiframe {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.linemax {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  .linemax1 {
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  }

  .card:hover{ 
    transform: scale(1.1) perspective(0px) ;
    transition: all .2s ease-in-out;
    box-shadow: 4px 4px 4px rgba(60, 60, 93, 0.33)
 }

 a:hover {
    color: rgb(192 38 211);
  }

  .text-purple{
    color: rgb(192 38 211);
  }
