@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans+Thai&display=swap');


:root {
    --color-background-purple: linear-gradient(180deg, #604AEA 0%, #290656 32.07%);
}

body {
    background: var(--color-background-purple);
    font-family: 'Noto Sans Thai', sans-serif;

}
a {
    color: white;
}

a:hover {
    opacity: 80%;
}

.input-search {
    position: relative;
    height: 25px;
    border-radius: 20px;
    background: url('https://cdn.discordapp.com/attachments/1087447051387813909/1087447341205831791/image_27.png') no-repeat left;
    border-width: 1px;
    background-color: white;
    font-family: 'Noto Sans Thai', sans-serif;
    background-position: 195px;
    
}

/* .color-background-purple {
    background: var(--color-background-purple);
} */